VITE_SUPABASE_URL=https://loimjrvlrtgqtedwbpps.supabase.co
VITE_SUPABASE_ANON_KEY=your_publishable_key_here    
GEMINI_API_KEY=--------------------------------
SUPABASE_SERVICE_KEY=--------------------------------
SUPABASE_URL=https://loimjrvlrtgqtedwbpps.supabase.co